.genric-btn.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;
}
.genric-btn.default:hover{
    background: white;
    color:#000000;
}
.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px;
}
.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.button-area a:hover{
    text-decoration: none;
}








.genric-btn.primary {
    color: #fff;
    background: #f8b600;
    border: 1px solid transparent;
}
.genric-btn.primary:hover{
    background: #fff;
    color:#f8b600;
    border:1px solid #f8b600;
    
}
.primary {
    background: #52c5fd;
}



.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}
.genric-btn.success:hover{
    color: #4cd3e3;
    background: white;
    border: 1px solid #4cd3e3;
}
.success {
    background: #4cd3e3;
}



.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
}
.genric-btn.info:hover{
    color: #38a4ff;
    background: #fff;
    border: 1px solid #38a4ff;
}
.info {
    background: #38a4ff;
}



.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
}
.genric-btn.warning:hover{
    color: #f4e700;
    background: #fff;
    border: 1px solid #f4e700;
}
.warning {
    background: #f4e700;
}



.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
}
.genric-btn.danger:hover{
    color: #f44a40;
    background: #fff;
    border: 1px solid #f44a40;
}
.danger {
    background: #f54940;
}



.genric-btn.link {
    color: #222222;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent;
}
.genric-btn.link:hover{
    color: #222222;
    background: white;
    text-decoration: underline;
    border: 1px solid transparent;
}
.button-group-area .link {
    text-decoration: underline;
    color: #000000;
    
}

/*first row dissable button*/
.button-group-area .genric-btn:last-child {
    margin-right: 0;
}
.genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed;
}
.button-group-area .disable {
    /*background: transparent;*/
    color: #007bff;
    /*cursor: not-allowed;*/
}


/*second row css*/

.genric-btn.default-border {
border: 1px solid #f9f9ff;
background: #fff;
}
.genric-btn.default-border:hover{
border: 1px solid #fff;
background: #f9f9ff;
color:#000000
}


.button-group-area .genric-btn {
margin-right: 10px;
margin-top: 10px;
}

.genric-btn.primary-border {
    color: #f8b600;
    border: 1px solid #f8b600;
    background: #fff;
}
.genric-btn.primary-border:hover{
    color:#fff;
    border: 1px solid #f8b600;
    background: #f8b600;
}
.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.primary-border {
    background: transparent;
    border: 1px solid #52c5fd;
    color: #52c5fd;
}


.genric-btn.success-border {
color: #4cd3e3;
border: 1px solid #4cd3e3;
background: #fff;
}
.genric-btn.success-border:hover{
    color: #fff;
    border: 1px solid #4cd3e3;
    background: #4cd3e3;
    }



.genric-btn.info-border {
color: #38a4ff;
border: 1px solid #38a4ff;
background: #fff;
}
.genric-btn.info-border:hover{
color: #fff;
border: 1px solid #38a4ff;
background: #38a4ff;
}
.info-border {
background: transparent;
border: 1px solid #38a4ff;
color: #38a4ff;
}


.genric-btn.warning-border {
color: #f4e700;
border: 1px solid #f4e700;
background: #fff;
}
.genric-btn.warning-border:hover{
color: #fff;
border: 1px solid #f4e700;
background: #f4e700;
}
.warning-border {
background: #fff;
border: 1px solid #f4e700;
color: #f4e700;
}


.genric-btn.danger-border:hover {
color: #fff;
background: #f44a40;
border: 1px solid transparent;
}

.genric-btn.danger-border {
color: #f44a40;
border: 1px solid #f44a40;
background: #fff;
}




.genric-btn.link-border {
color: #222222;
border: 1px solid #f9f9ff;
background: #fff;
text-decoration: underline;
}
.genric-btn.link-border:hover{
color: #222222;
border: 1px solid #fff;
background: #f9f9ff;
text-decoration: underline;
}

.link-border {
background: transparent;
border: 1px solid #3face4;
color: #3face4;
}

/*important css gor gap*/
.button-group-area:nth-child(even) {
margin-top: 40px;
}
.genric-btn.radius {
border-radius: 4px;
}
.genric-btn.circle {
border-radius: 20px;
}



/*button size css*/
.genric-btn.primary {
color: #fff;
background: #f8b600;
border: 1px solid transparent;
}
.genric-btn.e-large {
padding: 0 40px;
line-height: 50px;
}

.genric-btn.success {
color: #fff;
background: #4cd3e3;
border: 1px solid transparent;
}
.genric-btn.large {
line-height: 45px;
}
.genric-btn.primary {
color: #fff;
background: #f8b600;
border: 1px solid transparent;
}
.button-group-area .genric-btn {
margin-right: 10px;
margin-top: 10px;
}
.genric-btn.success {
color: #fff;
background: #4cd3e3;
border: 1px solid transparent;
}
.genric-btn.medium {
line-height: 30px;
}
.button-group-area .genric-btn:last-child {
margin-right: 0;
}
.genric-btn.primary {
color: #fff;
background: #f8b600;
border: 1px solid transparent;
}
.genric-btn.small {
line-height: 25px;
}

.samplebuttonbottomgap{
    height:50px;
}

#hr3 {
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
  }